* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.setting-page{
    width: 100vw;
    height: 100vh;
}

.setting-page__header{
    width: calc(100% - 64px);
    height: 56px;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
}

.setting-page__body{
    display: flex;
    width: 100%;
    height: calc(100% - 56px);
}

.setting-page__sidebar{
    width: 200px;
    height: calc(100% - 16px - 8px);
    background-color: #34495e;
    padding: 16px 12px 8px 0px;
    position: relative;
}

.setting-page__content{
    width: calc(100% - 200px);
    height: 100%;
    background-color: #eff4f7;
}

.page__header-left {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.page__header-height{
    height: 100%;
    width: fit-content;
}
.header-left--logo{
    width: 37px;
    height: 41px;
    background-image: url('./img/logo.svg');
    background-repeat: no-repeat;
}


.header-left--dashboard{
    padding: 0px 36px;
    display: flex;
    align-items: center;
}
.header-left--dashboard
.dashboard-icon{
    width: 23px;
    height: 22px;
    background: url('./img/dashboard.svg') no-repeat;
    cursor: pointer;

}
.header-left--dashboard
.dashboard-text{
    padding-left: 8px;
}



.header-left--app{
    display: flex;
    align-items: center;
}
.header-left--app
.app-icon{
    width: 23px;
    height: 22px;
    background: url('./img/dashboard.svg') no-repeat;
    cursor: pointer;
}
.header-left--app
.app-text{
    padding-left: 8px;
    cursor: pointer;
}

.page__header-right{
    display: flex;
    align-items: center;
}

.page__header-right
.icon{
    width: 23px;
    height: 23px;
}

.page__header-right
.icon:hover {
    cursor: pointer;
}

.page__header-right
.icon.search-icon {
    background: url('./img/search-icon.svg') no-repeat;
}

.page__header-right
.icon.noti-icon {
    background: url('./img/noti-icon.svg') no-repeat;
}

.page__header-right
.icon.profile-icon {
    background: url('./img/profile-icon.svg') no-repeat;
}

.page__header-right
.icon.setting-icon {
    background: url('./img/setting-icon.svg') no-repeat;
}

.header-right--noti{
    padding: 0px 16px;
}

.header-right--profile{
    padding: 0px 16px 0px 0px;
}

.group-tabs
.group-tabs__title {
    font-weight: 700;
    padding: 12px;
    color: #8a99af;
}

.group-tabs__app{
    padding: 12px;
    color: #fff;
    border-left: 3px solid rgba(0,0,0,0);
}

.group-tabs__app:hover{
    cursor: pointer;
    font-weight: 700;
    background: linear-gradient(90deg, #b88c1d5e, #b88c1d2e 50%, transparent);
    border-left-color: #b88c1d;
}

.group-hor--bar{
    width: 100%;
    height: 2px;
    background: #b88c1d;
}

.page__sidebar--btn-arrow {
    width: 17px;
    height: 24px;
    background: #b88c1d;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    right: -17px;
    top: 50%
}

.page__sidebar--btn-arrow:hover {
    cursor: pointer;
}